---
title: Amr Abed - Teaching
---
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="page-top">

{% include navbar.html %}

<aside class="bg-primary">
    <div class="container-fluid text-center">
        <h3>“If you can't explain it simply, you don't understand it well enough”</h3>
        <p><i>attributed to</i> Albert Einstein</p>
    </div>
</aside>

<section id="philosophy">
    <div class="container">
        <div class="text-center">
            <h2>Teaching Philosophy</h2>
            <hr>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-justify" style="margin-top: 50px">
            <p>
                I have always considered teaching to be a learning opportunity not only for my students but also for
                myself.
                I do believe that I need to really understand a topic in order to explain simply to my students.
            </p>
            <p>
                My passion for teaching started since middle school when I started tutoring my younger sister and
                my classmates and continued since then. In 2000, I joined the Faculty of Engineering in Ain-Shams
                university, and since day one, I always dreamed of becoming a Professor. That’s why I always observed my
                professors to learn how they deal with different situations in the classroom.
            </p>
            <p>
                I remember one time when I was an undergraduate student on my senior year in college tutoring a friend
                of
                mine and he said that I would make an excellent teaching assistant just like one of the best teaching
                assistants we had in college, who actually happened to be my role model for how a teaching assistant
                should
                be. One of the things I learned from him, that I am always keen on, is to build a friendly yet
                respectful
                relationship with my students.
            </p>
            <p>
                During my 5-year journey as an Instructor, I have had the chance to teach computer engineering material
                to
                students from the computer engineering major as well as other Engineering majors, and even to people
                from
                outside the Engineering field. I have always enjoyed the challenge of being able to put highly technical
                topics in simple words to transfer it to an audience who had never been familiar with the topic.
            </p>
            <p>
                I highly believe in learning by example, and I believe that practice makes better. This is how I like to
                learn myself, and this is how I encourage my students to master their material. When I get the
                opportunity
                to evaluate my students, I prefer to evaluate their understanding of the material and how they can use
                it in
                their studies rather than just testing whether they studied what I had to tell.
            </p>
        </div>
    </div>

</section>
<section id="courses" class="bg-info"></section>

{% include footer.html %}

<script src="index.js"></script>
<script src="../assets/js/analytics.min.js"></script>

</body>
</html>
