---
title: Amr Abed - Teaching
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    {% include header.html%}
</head>
<body id="page-top">
{% include navbar.html%}
<aside class="mh-50 pt-5 bg-primary">
    <div class="container-fluid py-5 text-center text-white">
        <h4>“If you can't explain it simply, you don't understand it well enough”</h4>
        <p><em>attributed to</em> Albert Einstein</p>
    </div>
</aside>
<section id="philosophy">
    <div class="container">
        <div class="text-center">
            <h2>Teaching Philosophy</h2>
            <hr>
        </div>
        <div class="col-lg-8 col-lg-offset-2 mx-auto text-justify" style="margin-top: 50px">
            <p>
                I have always considered teaching to be a learning opportunity not only for my students but also for
                myself.
                I do believe that I need to really understand a topic in order to explain it simply to my students.
            </p>
            <p>
                My passion for teaching started in middle school when I started tutoring my classmates and has continued
                since then.
                In 2000, I joined the college of engineering in Ain-Shams University as a student, and since day one, I
                always dreamed of becoming a professor.
                That’s why I always observed my professors to learn how they deal with different situations in the
                classroom.
            </p>
            <p>
                As an undergraduate student, I often tutored some of my friends and classmates. One time, one of my
                classmates compared me to one of our best teaching assistants, who was actually my role model.
                One of the things I learned from him, that I am always keen on, is to always build a friendly yet
                respectful relationship with my students.
            </p>
            <p>
                After graduation, I worked as an instructor in a number of institutes, including Minia University,
                Shorouk Academy, Modern Academy, and a number of learning centers.
                These positions gave me a wide range of experiences, from working with adults who were receiving
                on-the-job training to first-year college students.
            </p>
            <p>
                During my 5-year journey as an Instructor, I had the chance to teach computer engineering material to
                students from the computer engineering major as well as other engineering majors, and even to people
                from outside the engineering field. I have always enjoyed the challenge of being able to put highly
                technical topics in simple words to transfer it to an audience who has never been familiar with the
                topic.
            </p>
            <p>
                I highly believe in learning by example, and I believe that practice makes perfect.
                This is how I like to learn myself, and this is how I encourage my students to master their material.
                I often use my industry experience to help my students get better understanding of real-world
                requirements.
            </p>
            <p>
                When I evaluate my students, I prefer to evaluate their understanding of the
                material and how they can use it in their studies and their careers, rather than just testing whether
                they studied what I taught.
            </p>
        </div>
    </div>
</section>
<section id="courses" class="bg-light"></section>
<section id="training"></section>
{% include footer.html%}
</body>
</html>
