@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important;
  /* other browsers */
}

p,
div {
  text-align: justify;
}

/* .sectionHeading {
  @apply px-4 text-center flex justify-center items-center text-3xl md:text-4xl font-medium dark:text-primary-dark text-primary pb-8 md:pb-10;
} */

/* Home Animation and About Animation */
.slide-in {
  transform: translateX(0);
  opacity: 1;
}

/* Skills, Experience, Education, Projects animation */
.pop-down {
  opacity: 0;
  scale: 0;
}

.pop-up {
  opacity: 1;
  scale: 1;
}

.pop-down-child > div {
  opacity: 0;
  scale: 0;
}

.pop-up-child > div {
  opacity: 1;
  scale: 1;
}

/* Section */
.section {
  @apply min-h-[100vh] overflow-x-hidden content-evenly items-center justify-evenly shadow-zinc-300 dark:shadow-zinc-700 shadow-sm overflow-hidden;
}

.section-heading {
  @apply uppercase text-3xl text-center p-4 flex justify-center items-center gap-5;
}

.section-body {
  @apply flex min-h-[450px] py-[30px] px-[20px] md:px-[100px] justify-evenly flex-wrap items-center gap-5;
}

.section-item {
  @apply flex flex-col items-center gap-2;
}

/* Social Media animation */
.social-hide > div {
  transform: scale(0);
}

.social-show > div {
  transform: scale(0.9);
}

/* Scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 5rem;
  right: 2%;
  z-index: 1000;
}

.scroll-button {
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}
