---
title: Amr Abed - Résumé
---
<html lang="en">
<head>
    {% include header.html%}
</head>
<body id="page-top">
{% include navbar.html%}
<div class="container">
    <aside class="mh-50 py-5 text-center">
        <h1>Amr Abed</h1>
        <p class="text-muted">Ph.D. in Computer Engineering</p>
    </aside>
    <div id="education">
        <h2>Education</h2>
        <p><strong>Ph.D. Computer Engineering</strong>, August 2014 - July 2017<br>
            <strong>M.S. Computer Engineering</strong>, August 2010 - July 2013<br>
            Virginia Tech, Blacksburg, VA<br>
            <em class="text-muted">GPA 3.8/4.0</em></p>
        <p>
            <strong>B.S. Computer and System Engineering</strong>, September 2000 - June 2005<br>
            Ain-Shams University, Cairo, Egypt<br>
            <em class="text-muted">
                Very Good (83.9%) with Honor (GPA <span class="math inline">∼</span>3.4/4.0) with Excellent project
                grade
            </em>
        </p>
    </div>

    <div id="skills">
        <h2>Technical Skills</h2>
        <p>Android SDK, Docker, Java, C++, C, Linux Shell Scripting, Python, LaTeX, MATLAB & Simulink,
            SQL, SQLite, OrientDB, PHP, HTML</p>
    </div>

    <div id="languages"><h2>Languages</h2>
        <p>Arabic, English, French</p>
    </div>
    <div id="current"><h2>Current Position</h2>
        <p><strong>Assistant Professor</strong>,
            November 2017 – Present<br/>
            Department of Computer and System Engineering<br/>
            Minia University, Minia, Egypt</p>
    </div>
    <div id="technical"><h2>Technical Experience</h2>
        <p><strong>Software Engineering Intern</strong>,
            May 2014 – August 2014<br/>
            Google Fit Team, Google, Mountain View, CA</p>
        <ul>
            <li>Implemented an Android application that communicates with Google visual-search service and
                Google
                knowledge graph
            </li>
            <li>Collaborated with members from three different teams to successfully complete project on time
            </li>
            <li>Added features and fixed bugs for two other Android applications using the Google Fit APIs</li>
        </ul>
        <p><strong>Software Development Engineer</strong>,
            November 2007 – November 2008<br/>
            Device Modeling Team, Mentor Graphics, Cairo, Egypt</p>
        <ul>
            <li>Studied and analyzed the C-based version of the Spectre2Eldo syntax converter</li>
            <li>Designed and implemented the OO–based version of the Spectre2Eldo syntax converter using C++
                STL
            </li>
            <li>Solved problems related to using a Flex & Bison parser with C++</li>
        </ul>
    </div>
    <div id="research"><h2>Research Experience</h2>
        <p><strong>Graduate Research Assistant</strong>,
            May 2016 – July 2017<br/>
            National Capital Region Urban Living Lab<br/>
            Virginia Tech, Arlington, VA</p>
        <ul>
            <li>Constructed a Raspberry Pi based IoT sensor for the MetroLab Network</li>
            <li>Designed and implemented a framework for the device to communicate with a remote MySQL
                server
            </li>
            <li>Implemented a website using PHP and Plotly.js to display data from the database</li>
        </ul>
        <p><strong>Graduate Research Assistant</strong>,
            January 2017 - May 2017<br/>
            Hume Center for National Security and Technology<br/>
            Virginia Tech, Arlington, VA</p>
        <ul>
            <li>Collaborated with members from Fujitsu in a joint research project to build an SDN-based security
                solution
            </li>
            <li>Designed the threat model for testing the security solution using Metasploit</li>
            <li>Implemented a container-based web application as an attack target</li>
        </ul>
        <p><strong>Graduate Research Assistant</strong>,
            January 2015 – May 2016<br/>
            Hume Center for National Security and Technology<br/>
            Virginia Tech, Blacksburg, VA</p>
        <ul>
            <li>Assisted in writing a winning proposal for an NSF Industry/University Cooperative Research Center</li>
            <li>Designed and implemented RHIDS, an intrusion detection system for cloud containers</li>
            <li>Tested the system using Docker containers deployed on Amazon-AWS EC2 instances</li>
        </ul>
        <p><strong>Graduate Research Assistant</strong>,
            February 2013 – May 2013<br/>
            Magnum Group, Bradley Department of Electrical and Computer Engineering<br/>
            Virginia Tech, Blacksburg, VA</p>
        <ul>
            <li>Implemented the Docker-EC2 tool using Shell scripting to automate running and testing network
                applications using a Docker container on different instances of the Amazon-AWS EC2
            </li>
            <li>Maintained and troubleshot build issues of the SODA-Cloud project (Mobile/Cloud Computing project funded
                by Siemens) on GitHub and BuildHive using Maven
            </li>
        </ul>
    </div>

    <div id="teaching"><h2>Teaching Experience</h2>
        <p><strong>Instructor</strong>,
            March 2006 – August 2010<br/>
            Inform - IBM Authorized Training Center, Cairo, Egypt</p>
        <ul>
            <li>Taught C and C++ Programming to more than 150 students from different backgrounds, many
                of them were from
                outside the Engineering field
            </li>
        </ul>
        <p><strong>Instructor</strong>,
            February 2008 – August 2010<br/>
            Al-Sedeek Education Center, Giza, Egypt</p>
        <ul>
            <li>Taught C and C++ programming, and Algorithms & Data Structures using C and C++ courses
                to more than
                300 students
            </li>
        </ul>
        <p><strong>Teaching Assistant</strong>,
            March 2007 – August 2010<br/>
            Department of Computer and System Engineering<br/>
            Minia University, Minia, Egypt</p>
        <ul>
            <li>Taught 8 different undergraduate courses to 4 different classes of an average of 25
                students each
            </li>
        </ul>
        <p><strong>Teaching Assistant</strong>,
            February 2006 – September 2007<br/>
            Department of Electronics, Communications and Computer Engineering<br/>
            Al-Shorouk Academy, Cairo, Egypt</p>
        <ul>
            <li>Taught 9 different undergraduate courses to 9 different classes of an average of 40
                students each
            </li>
        </ul>
        <p><strong>Teaching Assistant</strong>,
            September 2005 – May 2006<br/>
            Department of Computer and Information Technology<br/>
            Modern Academy for Engineering and Technology, Cairo, Egypt</p>
        <ul>
            <li>Taught 6 different undergraduate courses to 9 different classes of an average of 40
                students each
            </li>
        </ul>
    </div>

    <div id="volunteer">
        <h2>Volunteer Work</h2>
        <p><strong>Docker Mentor</strong>, March 2017 - Present</p>
        <p><strong>IEEE Peer Reviewer</strong>, August 2016 - Present</p>
        <p><strong>Technical Program Committee Member</strong>, Special session on IoT Cloud Platforms, July - December
            2017</p>
        <p><strong>President of Executive Board</strong>, Islamic Center of Blacksburg, January – December 2016</p>
    </div>

    <div id="awards"><h2>Awards</h2>
        <p><strong>VT-MENA Program Scholarship</strong>,
            September 2010 - July 2017<br/>
            For candidate staff-members of the Egyptian Universities pursuing a graduate degree
            in Electrical and Computer
            Engineering from Virginia Tech</p>
        <p><strong>Egyptian Ministry of Higher Education Award</strong>,
            September 2004, 2003, 2002, 2001<br/>
            For distinction in undergraduate studies at Ain-Shams University, Faculty of
            Engineering</p>
    </div>

    <div id="publications"><h2>Publications</h2>
        <p>
            Amr Abed. "<strong>Securing Cloud Containers through Intrusion Detection and Remediation</strong>,"
            PhD dissertation, Virginia Tech, 2017
        </p>
        <p>
            Amr Abed, Charles Clancy, and David Levy.
            "<strong>Intrusion Detection System for Applications Using Linux Containers</strong>,"
            in Security and Trust Management, ser. Lecture Notes in Computer Science, vol. 9331, 2015, pp. 123-135
        </p>
        <p>
            Amr Abed, Charles Clancy, and David Levy.
            "<strong>Applying Bag of System Calls for Anomalous Behavior Detection of Applications in Linux
            Containers</strong>,"
            in IEEE Globecom 2015 Workshop on Cloud Computing Systems, Networks, and Applications (CCSNA), 2015
        </p>
        <p>
            Amr Abed, Mohamed Azab, Charles Clancy, and Mona Kashkoush.
            "<strong>Resilient Intrusion Detection System for Cloud Containers</strong>,"
            in International Journal of Communication Networks and Distributed Systems, 2018
        </p>
        <p>
            Mohamed Azab, Bassem Mokhtar, Amr Abed, and Mohamed Eltoweissy.
            "<strong>Toward Smart Moving Target Defense for Linux Container Resiliency</strong>,"
            in 41st IEEE Conference on Local Computer Networks (LCN 2016), 2016
        </p>
        <p>
            Mohamed Azab, Bassem Mokhtar, Amr Abed, and Mohamed Eltoweissy.
            "<strong>A Moving-Target Defense Approach for Linux Container Resiliency</strong>,"
            in The 2nd IEEE International Conference on Collaboration and Internet Computing, 2016, invited paper
        </p>
        <p>
            Mona Kashkoush, Mohamed Azab, Gamal Attiya, and Amr Abed.
            "<strong>Online Smart Disguise: Real-time Diversification Evading Co-residency based Cloud Attacks</strong>,"
            in Cluster Computing, 2018
        </p>
    </div>
</div>
<aside class="mh-50 py-5"></aside>
{% include footer.html%}
</body>
</html>
