@font-face {
  font-family: 'FontAwesome';
  src:  url('../fonts/icomoon.eot?1c8q1a');
  src:  url('../fonts/icomoon.eot?1c8q1a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1c8q1a') format('truetype'),
    url('../fonts/icomoon.woff?1c8q1a') format('woff'),
    url('../fonts/icomoon.svg?1c8q1a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-google-scholar:before {
  content: "\e901";
}
.fa-mendeley:before {
  content: "\e904";
}
.fa-orcid:before {
  content: "\e906";
}
.fa-impactstory:before {
  content: "\e908";
}
.fa-figshare:before {
  content: "\e914";
}

