section
{
    min-height:100%;
}

.image-link, .image-link:hover, .image-link:focus
{
    text-decoration: none;
}

.btn.btn-square {
    border-radius: 0;
}

.gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
}
