<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Amr Abed">
    <meta name="description" content="Amr Abed's Personal Website">
    <link href="/favicon.ico" rel="icon">
    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-JKPDWZ2PLD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JKPDWZ2PLD');
    </script> -->
    <script src="/assets/js/fontawesome.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href="/assets/css/timeline.min.css" rel="stylesheet">
    <link href="/assets/css/creative.min.css" rel="stylesheet">
    <link href="/assets/css/amrabed.min.css" rel="stylesheet">
</head>
<body id="page-top">
<nav id="mainNav" aria-label="page-navigation" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a id="brand" class="navbar-brand js-scroll-trigger" href="/">Amr Abed</a>
        <button type="button" class="btn btn-link navbar-toggler navbar-toggler-right" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
    </div>
</nav>
{{ content }}
<a id="back2top" class="js-scroll-trigger" href="#page-top" title="Back to top">
    <span class="fas fa-arrow-up fa-lg"></span>
</a>
<div>
    <!-- <nav id="pageNav" aria-label="site-navigation" class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <ul class="nav navbar-nav mx-auto text-center">
                <li class="nav-item mx-2">
                    <a class="nav-link text-faded" href="/">Amr Abed</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-faded" href="/engineering">Engineering</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-faded" href="/research">Research</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-faded" href="/teaching">Teaching</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-faded" href="/resume">Résumé</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-faded" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <footer id="footer" class="p-2 panel-footer text-center">
        Created by <a href="/">Amr Abed</a>
        using <a href="https://d3js.org" rel="noopener noreferrer" target="_blank">D3.js</a> |
        Theme: <a href="https://startbootstrap.com/template-overviews/creative" rel="noopener noreferrer"
                  target="_blank">Creative</a>
        by <a href="https://startbootstrap.com/" rel="noopener noreferrer" target="_blank">Start Bootstrap</a> |
        Photos: <a href="http://unsplash.com" rel="noopener noreferrer" target="_blank">unsplash.com</a> |
        Website code is available on
        <a href="https://www.github.com/amrabed/amrabed.github.io" rel="noopener noreferrer" target="_blank">Github</a>
        under the <a href="https://opensource.org/licenses/MIT" rel="noopener noreferrer" target="_blank">MIT
        license</a>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/assets/js/creative.js"></script>
<script src="/assets/js/d3.v7.min.js"></script>
<script src="/assets/js/timeline.min.js"></script>
<script src="/assets/js/amrabed.min.js"></script>
<script src="index.js"></script>
<script src="/assets/js/footer.js"></script>
</body>
</html>