<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-items">
                <span class="sr-only">Toggle navigation</span><!-- Menu -->
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Amr Abed</a>
        </div>

        <div class="collapse navbar-collapse" id="menu-items">
        </div>
    </div>
</nav>

{{ content }}

{% include footer.html %}

<script src="./index.js"></script>
<script src="/assets/js/analytics.min.js"></script>

</body>
</html>