---
title: Amr Abed - Engineering
---
<html lang="en">

<head>
    {% include head.html %}
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-items">
                <span class="sr-only">Toggle navigation</span><!-- Menu -->
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Amr Abed</a>
        </div>

        <div class="collapse navbar-collapse" id="menu-items">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="page-scroll" href="#positions">Positions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#products">Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<aside class="bg-primary">
    <div class="container-fluid text-center">
        <!--<h2>“Scientists dream about doing great things. Engineers do them”</h2>-->
        <!--<p>James Michener - Author</p>-->
        <h3>“Engineers like to solve problems. If there are no problems handily available, they will create their own
            problems”</h3>
        <p>Scott Adams - Creator of 'Dilbert'</p>
    </div>
</aside>
<section id="positions"></section>
<!--<section id="projects"  class="bg-info"></section>-->
<section id="products" class="bg-info"></section>

{% include footer.html %}
<script src="index.js"></script>
<script src="../assets/js/analytics.min.js"></script>

</body>
</html>
