---
title: Amr Abed - Engineering
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    {% include header.html%}
</head>

<body id="page-top">
{% include navbar.html%}
<aside class="mh-50 pt-5 bg-primary">
    <div class="container-fluid py-5 text-center text-white">
        <h4>“Engineers like to solve problems. If there are no problems handily available, they will create their own
            problems”</h4>
        <p>Scott Adams - Creator of 'Dilbert'</p>
    </div>
</aside>
<section id="positions"></section>
{% include footer.html%}
</body>
</html>